<!-- Footer -->
<footer class="footer" id="footer" style="background-color: white">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <span class="copyright"
          >Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span
        >
      </div>
      <div class="col-md-6 text-right">
        <ul class="list-inline quicklinks mb-0">
          <li class="list-inline-item">
            <a href="https://www.ucla.edu/terms-of-use">Terms of Use</a>
          </li>
          <li class="list-inline-item ml-3">
            <a href="https://www.w3.org/WAI/WCAG2AA-Conformance" title="Explanation of WCAG 2.1 Level AA conformance">
              <img src="https://www.w3.org/WAI/WCAG21/wcag2.1AA-v.png" alt="Level AA conformance, W3C WAI WCAG 2.1" width="88" height="31" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
<!-- End Footer -->
