<!-- Staff -->
<section class="page-section bg-light" id="{{ site.data.sitetext[site.locale].staff.section | default: "staff" }}">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].staff.title }}</h2>
	  {% if site.data.sitetext[site.locale].staff.text and site.data.sitetext[site.locale].staff.text != "" %}
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].staff.text }}</h3>
	  {% endif %}
	</div>
  </div>
  <div class="row">
  {% for person in site.data.sitetext[site.locale].staff.people %}
	<div class="col-sm-4">
	  <div class="staff-member">
		<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="{{ person.name }}">
		<h4>{{ person.name }}</h4>
		<p class="text-muted">{{ person.role }}</p>
		<ul class="list-inline social-buttons">
		{% for network in person.social %}
		  {% if network.icon contains "linkedin" %}
			{% assign network_label = person.name | append: " on LinkedIn" %}
		  {% elsif network.icon contains "github" %}
			{% assign network_label = person.name | append: " on GitHub" %}
		  {% elsif network.icon contains "envelope" %}
			{% assign network_label = "Email " | append: person.name %}
		  {% elsif network.icon contains "twitter" %}
			{% assign network_label = person.name | append: " on Twitter" %}
		  {% elsif network.icon contains "calendar" %}
			{% assign network_label = "Schedule a meeting with " | append: person.name %}
		  {% else %}
			{% assign network_label = person.name | append: " profile" %}
		  {% endif %}
		  <li class="list-inline-item">
			<a href="{{ network.url }}" aria-label="{{ network_label }}">
			  <i class="{{ network.icon }}" aria-hidden="true"></i>
			</a>
		  </li>
		{% endfor %}
		</ul>
	  </div>
	</div>
  {% endfor %}
  </div>
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext[site.locale].staff.subtext | markdownify }}</div>
	</div>
  </div>
</div>
</section>
<!-- End Staff -->

<!-- Team -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].hof.section | default: "hof" }}">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12 text-center">
		  <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].hof.title }}</h2>
		  {% if site.data.sitetext[site.locale].hof.text and site.data.sitetext[site.locale].hof.text != "" %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].hof.text }}</h3>
		  {% endif %}
		</div>
	  </div>
	  <div class="row">
	  {% for person in site.data.sitetext[site.locale].hof.people %}
		<div class="col-sm-4">
		  <div class="team-member">
			<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="{{ person.name }}">
			<h4>{{ person.name }}</h4>
			<p class="text-muted">{{ person.role }}</p>
			<ul class="list-inline social-buttons">
			{% for network in person.social %}
			  {% if network.icon contains "linkedin" %}
				{% assign network_label = person.name | append: " on LinkedIn" %}
			  {% elsif network.icon contains "github" %}
				{% assign network_label = person.name | append: " on GitHub" %}
			  {% elsif network.icon contains "envelope" %}
				{% assign network_label = "Email " | append: person.name %}
			  {% elsif network.icon contains "twitter" %}
				{% assign network_label = person.name | append: " on Twitter" %}
			  {% elsif network.icon contains "calendar" %}
				{% assign network_label = "Schedule a meeting with " | append: person.name %}
			  {% else %}
				{% assign network_label = person.name | append: " profile" %}
			  {% endif %}
			  <li class="list-inline-item">
				<a href="{{ network.url }}" aria-label="{{ network_label }}">
				  <i class="{{ network.icon }}" aria-hidden="true"></i>
				</a>
			  </li>
			{% endfor %}
			</ul>
		  </div>
		</div>
	  {% endfor %}
	  </div>
	  <div class="row">
		<div class="col-lg-8 mx-auto text-center">
		  <div class="large text-muted">{{ site.data.sitetext[site.locale].hof.subtext | markdownify }}</div>
		</div>
	  </div>
	</div>
	</section>
	<!-- End Team -->
